h2 {
	margin-top: 50px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(5, 60%); /* 5 columns */
	grid-template-rows: repeat(5, 100%); /* 5 rows */
	gap: 0; /* No space between grid items */
	/* margin: auto; */
}

.grid-label {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	position: relative;
	cursor: pointer;
	/* background-color: #fff; */
	transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Style for grid radio */
.grid-radio {
	/* appearance: none; */
	background: transparent; /* Make the background transparent */
	border: none; /* Remove borders */
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
}

/* Style when a radio button is checked */
.grid-radio:checked + .grid-label {
	background-color: #000; /* Darken the box */
	border-color: red; /* Optional: change border color if needed */
}

/* Specific style for middle grid labels */
.middle-label {
	background-color: lightblue;
}

/* Optional: Change the middle label color when checked */
.grid-radio:checked + .middle-label {
	background-color: darkblue; /* Darken the middle box */
	border-color: red;
}

.plate {
	margin: 0 auto;
	display: block;
	width: 180px;
	margin-top: -86px;
}

.pitches-section,
.windup-selection {
	height: auto;
	line-height: 10rem;
	background-color: lightblue;
}

.strike {
	background-color: lightblue;
}

#targetButtons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#targetButtons .column {
	display: flex;
	flex-direction: column;
	align-self: center;
	padding: 5px;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	width: 75px;
	margin: 5px auto;
}

button.pitch-execution {
	/* height: 100px;
	width: 100%; */
}

.location-grid {
	height: 100%;
	margin-top: 100%;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	margin: 5px auto;
	height: 60px;
	opacity: 0.25;
}

.table td,
.table th {
	padding: 0.6rem !important;
}

.big-label {
	font-size: 1.5rem; /* Adjust the size as needed */
}

.form-check-inline {
	border: 2px solid black;
}

.form-check-inline .form-check-input {
	transform: scale(2); /* Adjust the scale as needed */
	margin-right: 20px; /* Adjust spacing as needed */
	margin-left: 20px;
}

.hitter {
	height: 100%;
}

.target-buttons {
	background-image: url("./images/mitt.jpg");
	background-size: auto;
	background-position: center;
}

.swing-btn,
.fielding-btn {
	padding: 5px;
	opacity: 1;
	width: auto;
}

.playersList .col-12 {
	padding: 0;
}
